# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
build/

# Environment variables
.env
.env.*
*.local

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/*
!.vscode/extensions.json
.idea/
*.sublime*
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
